@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    </div>
    <div class="col-md-12">
        <h2>Say Hello</h2>
        <span id="messages" class="warning"></span>
        <hr />

        <div class="form-group">
            <label for="email">User Email:</label>
            <input type="email" class="form-control" id="toUser" value="" placeholder="shashangka@gmail.com" />
        </div>
        <div class="form-group">
            <label for="pwd">Message:</label>
            <input type="password" class="form-control" id="myMessage" value="" placeholder="message" />
        </div>

        <button type="submit" class="btn btn-default" id="submit">Submit</button>

    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $("#submit").click(function (e) {
            e.preventDefault();

            var message = $("#myMessage").val();
            var sendtouser = $("#toUser").val();

            //$("#messages").append("<p>" + message + "</p>");

            var Notification = { UserID: sendtouser, Message: message };

            $.ajax({
                type: "POST",
                url: "/api/Values/SendNotification",
                data: JSON.stringify(Notification),
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    //reset field
                    $("#myMessage").val("");
                },
                error: function () {
                    alert("Error occured!!")
                }
            });

        });
    </script>
}